body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.right-links {
    font-size: 18px;
    display: flex;
}

ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: #E5E7EB;
    
}